<!DOCTYPE html>
<html ng-app="angularService">
<head>
  <title>Angular Service</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>

<body>
  <main role="main" class="main-wrapper" ng-controller="FirstCtrl">

<button type="button" ng-click="getAllArtist()" name="button">Get All</button>

    <!-- <form>
      <input type="text" ng-model="artist">
      <input type="text" ng-model="genre">
      <input type="text" ng-model="count">

      <button ng-click="addArtist()">Add the artist</button>
    </form>

    <section ng-show="artistsIlike.length">
      <h1>I like</h1>
      <section ng-repeat="artist in artistsIlike" >
        {{artist.name}}
        {{artist.genre}}
        {{artist.count}}
      </section>
    </section>

    <section ng-if="artistsIKindOfLike.length">
      <h1>Kind of like</h1>

      <section ng-repeat="artist in artistsIKindOfLike" >
        {{artist.name}}
        {{artist.genre}}
        {{artist.count}}
      </section>
    </section> -->



  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="FirstController.js"></script>
  <script src="service.js"></script>

  </body>
</html>
